@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "agustina";
  src: url("/fonts/Agustina-Signature.otf") format("opentype");
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #233149;
  border-radius: 5px;
}
.react-terminal-wrapper {
  padding-top: 35px !important;
}

.react-terminal {
  overflow: visible !important;
}

.react-terminal-line {
  font-size: 0.75rem !important;
}

.react-terminal-wrapper {
  font-size: 0.75rem !important;
}

.react-terminal-input-area {
  font-size: 0.75rem !important;
}

@media (min-width: 640px) {
  .react-terminal-line {
    font-size: 0.875rem !important;
  }
  .react-terminal-wrapper {
    font-size: 0.875rem !important;
  }
  .react-terminal-input-area {
    font-size: 0.875rem !important;
  }
}

@media (min-width: 768px) {
  .react-terminal-line {
    font-size: 1rem !important;
  }
  .react-terminal-wrapper {
    font-size: 1rem !important;
  }
  .react-terminal-input-area {
    font-size: 1rem !important;
  }
}
